src/example/PersonalTaxCalculatorImplPortType_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://example/" xmlns:tns="http://example/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="calculateTax" type="tns:calculateTax"/>

  <xs:element name="calculateTaxResponse" type="tns:calculateTaxResponse"/>

  <xs:complexType name="calculateTax">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calculateTaxResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

